<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       
        xsi:schemaLocation="http://www.springframework.org/schema/beans 
                            http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                            http://www.springframework.org/schema/aop 
                            http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
">


    <bean id="service" class="com.asos.p1u1.cv1.MessageServiceMock"/>
    <bean id="consumer" class="com.asos.p1u1.cv2.MessageConsumerMock"/>
    <bean id="processor" class="com.asos.p1u1.cv1.MessageProcessor">
        <constructor-arg ref="service"/>
        <constructor-arg ref="consumer"/>
    </bean>
    
    <bean id="opBean" class="com.asos.p1u1.cv2.MyOperationBean"/>
    <bean id="aspectBean" class="com.asos.p1u1.cv2.MyAspectBean"/>
    
        <aop:config>  
        <aop:aspect id="myaspect" ref="aspectBean" >  

            <!-- @Before -->  
           <aop:pointcut id="pointCutBefore"   expression="execution(* com.asos.p1u1.*.*.*(..))" />  
            <aop:before method="myBeforeAdvice" pointcut-ref="pointCutBefore" />  
        </aop:aspect>   
        
<!--                <aop:aspect id="aspectMojejManky" ref="aspectBean" >  

             p2u3 we ll be, we ll be counting calls  
            <aop:pointcut id="countingCalls"   expression="execution(* com.asos.p1u1.*.*.*(..)" />  
            <aop:after-returning method="myReturnAdvice" pointcut-ref="countingCalls" />  
            <aop:pointcut id="countingCalls"   expression="execution(* com.asos.p1u1.cv1.MessageServiceMock.getMessage())" />  
            <aop:after-returning method="myReturnAdvice" returning="result" pointcut-ref="countingCalls" /> 
        </aop:aspect> 
        -->
        <aop:aspect id="aspectPavukaJozka" ref="aspectBean" >  

             <!--@Before-->   
            <aop:pointcut id="someId"   expression="execution(* com.asos.p1u1.cv1.MessageServiceMock.getMessage())" />
            <aop:around method="zakodujProsimTa" pointcut-ref="someId" />  
        </aop:aspect> 
        
        <aop:aspect id="aspectOslavencaKuba" ref="aspectBean" >  

             <!--@Before-->   
            <aop:pointcut id="sekyhoDarcek"   expression="execution(* com.asos.p1u1.cv2.MessageConsumerMock.putMessage(String)) and args(msg)" />
            <aop:around method="odkodujProsimTa" pointcut-ref="sekyhoDarcek" />  
        </aop:aspect> 
    </aop:config>  
</beans>
