<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
">


    <bean id="service" class="com.asos.p1u1.MessageServiceMock"/>
    <bean id="consumer" class="com.asos.p1u1.cv2.MessageConsumerMock"/>
    <bean id="processor" class="com.asos.p1u1.MessageProcessor">
        <constructor-arg ref="service"/>
        <constructor-arg ref="consumer"/>
    </bean>
    
</beans>
